.navbar{
    /* padding: 20px 0px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid red; */
    position: sticky;
    padding: 20px;
    z-index: 100;
    max-width: 1140px;
    margin: auto;
    top: 0px;
    background-color: #f5f5f5ec;
    border-radius: 0px 0px 10px 10px;
    
}

.logo{
     width: 150px;
}
.navbar_menu{
    display: flex;
    gap: 20px;
    color: #000000;
    font-size: 18px;
    cursor: pointer;
}
.navbar_right{
    display: flex;
    align-items: center;
    gap: 40px;
}
.navbar button{
    background: transparent;
    font-size: 16px;
    color: #000000;
    border: 1px solid tomato;
    padding: 10px 30px ;
    cursor: pointer;
    border-radius: 50px;
    transition: 0.3s;
}
.navbar button:hover{
    background-color: #fff4f2;
}

.active{
    padding-bottom: 2px;
    border-bottom: 2px solid #000000;
}

.navbar_basket{
 
    position: relative;
}
 
.dot{
    position: absolute;
    min-width: 10px;
    min-height: 10px;
    background-color: tomato;
    border-radius: 50%;
    top: -8px;
    right: -8px;
 }


 .navbarProfile{
    position: relative;

}
.navProfileDropdown{
    position: absolute;
    display: none;
    right: 0;
    z-index: 1;
}
.navbarProfile:hover .navProfileDropdown{
display: flex;
flex-direction: column;
gap: 10px;
background-color: #fff2ef;
padding: 12px 25px;
border-radius: 4px;
border: 1px solid tomato;
outline: 2px solid white;
list-style: none;
}
.navProfileDropdown li{
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;

}

.navProfileDropdown img {
    width: 20px;
}
.navProfileDropdown li:hover{
    color: tomato;
}

@media  (max-width:1050px){
    .navbar .logo{
    width: 140px;
    }
    .navbar_menu{
        gap: 20px;
        font-size: 17px;
        }
    
    .navbar_right{
        gap: 30px;
    }
    .navbar_right img{
        width: 22px;
    }
    .navbar_right button{
        padding: 8px 25px;
    }
    
}

@media  (max-width:900px){
    .navbar .logo{
    width: 120px;
    }
    .navbar_menu{
        gap: 15px;
        font-size: 16px;
        }
    
    .navbar_right{
        gap: 20px;
    }
    .navbar_right img{
        width: 20px;
    }
    .navbar_right>button{
        padding: 7px 20px;
        font-size: 15px;
    }
}
  @media (max-width:750px) {
    .navbar{
                padding: 10px;
    }
    .navbar button{
        font-size: 14px;
        color: #000000;
        border: 1px solid tomato;
        padding: 10px 10px ;
         
    }
    
    .navbar_menu{
        display: none;
    }
   
}  
@media (max-width:320px) {
    .navbar{
        padding-right: 10px;
        gap: 10px;
        padding-left: 10px;
    }

    .navbar .logo{
        width: 100px;
        }
    .navbar button{
        font-size: 14px;
        color: #000000;
        border: 1px solid tomato;
        padding: 5px 5px ;
         
    }
    .navbar_right{
        gap: 10px;
    }
    .navbar_menu{
        display: none;
    }
   
}  
