.footer{
    color: #d9d9d9;
    background-color: #323232;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px  8vw;
    padding-top: 80px;
    margin-top: 100px;
    /* border: 1px solid red; */
     

}

.footerContent{
    width: 100%;
    /*border: 1px solid red;*/
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 80px;
}
.footerContentLeft , .footerContentRight,.footerContentCenter{
    display: flex;
    /*border: 1px solid red;*/
    flex-direction: column;
    align-items: start;
    gap: 20px;
}

.footerContent h2{
  color: white;
}
.footerContentLeft li , .footerContentRight li,.footerContentCenter li{
    list-style: none;
    margin-bottom: 10px;
    /*border: 1px solid red;*/

    cursor: pointer;
}


.footerSocialIcons img{
    width: 40px;
    
    margin-right: 15px;
}
.footer hr{
    width: 100%;
    height: 2px;
    margin: 20px 0px;
    background-color: grey;
    border: none;
}

   /* Footer styling */
.heart{
    color: red;
}

@media (max-width:750px) {
    .footerContent{
        display: flex;
        flex-direction: column;
        gap: 35px;
    }
    .footerCopyright{
        text-align: center;
    }
}
