@keyframes fadeIn {
    0%{
      opacity: 0;

    }
    100%{
      opacity: 1;
    }
    
  }


.hero{
    height: 34vw;
    margin: 30px auto;
    background: url('/header_img.png') no-repeat;
    background-size:contain ;
    position: relative;
  
}


.header_contents{
position: absolute;
display: flex;
flex-direction: column;
align-items: start;
gap: 1.5vw;
max-width: 50%;
bottom: 10%;
left: 6vw;
animation: fadeIn 3s;
}
.header_contents > h2 {
    font-weight: 500;
    color: white;
    font-size: max(4.5vw,22px);

}
.header_contents >p {
     color: white;
    font-size: 1vw

}
.header_contents > button{
    color: #747474;
   font-size: 1vw;
   border: none;
   font-weight: 500;
   padding: 1vw 2.3vw;
   border-radius: 50px;
   background-color: white;
   font-size: max(1vw,13px);

}

@media (max-width:1050px) {
    
  .header_contents{
      max-width: 45%;
  }
}
@media (max-width:750px) {
  
.header_contents{
    max-width: 65%;
}


.header_contents p{
  display: none;
}
.header_contents button{
  padding: 2vw 4vw;
  
}
}
